/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/Debug/net8.0/SmartMed.AssemblyInfo.cs
/obj/Debug/net8.0/SmartMed.AssemblyInfoInputs.cache
/obj/Debug/net8.0/SmartMed.assets.cache
/SmartMed.csproj
/obj/SmartMed.csproj.nuget.dgspec.json
/obj/SmartMed.csproj.nuget.g.props
/obj/SmartMed.csproj.nuget.g.targets
/obj/Debug/net8.0/SmartMed.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/SmartMed.GlobalUsings.g.cs
/obj/rider.project.model.nuget.info
/obj/Debug/net8.0/SmartMed.csproj.AssemblyReference.cache
/obj/Debug/net8.0/SmartMed.csproj.CopyComplete
/obj/Debug/net8.0/SmartMed.dll
/obj/Debug/net8.0/refint/SmartMed.dll
/obj/Debug/net8.0/SmartMed.csproj.FileListAbsolute.txt
/bin/Debug/net8.0/SmartMed.dll
/bin/Debug/net8.0/SmartMed.exe
/obj/Debug/net8.0/SmartMed.genruntimeconfig.cache
/obj/Debug/net8.0/SmartMed.csproj.CoreCompileInputs.cache
/bin/Debug/net8.0/SmartMed.pdb
/obj/Debug/net8.0/ref/SmartMed.dll
/bin/Debug/net8.0/Newtonsoft.Json.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/SmartMed.pdb
/bin/Debug/net8.0/SmartMed.deps.json
/obj/Debug/net8.0/SmartMed.sourcelink.json
/bin/Debug/net8.0/SmartMed.runtimeconfig.json
